body{
    margin: 0;
}
.bg{
   background:linear-gradient(to bottom ,skyblue,rgba(0,255,52,0.5));
   width: 100%;
   min-height: 100vh;
    
}
.baidu{
    text-align: center;
    color:darkblue;
    font-family: cursive;
    font-size: 60px;
}
.row{
     display: flex;
     flex-wrap: wrap;
     margin: 0 auto;
     justify-content: space-around;
     width:1000px;
     padding-top: 25px;
     
}
.col{
    margin-bottom:20px;
    transition:box-shadow 0.5s;
}
.col:hover{
    box-shadow:2px 2px 20px 5px rgba(0,0,0,0.3); 
    filter:brightness(1.1);
}
.mission-pic img{
    width: 300px;
    height: 180px;
}
.bottom{
    background: rgba(0,0,0,0.5);
    width: 300px;
}
.text{
    text-align: center;
    font-family: monospace;
    font-size: 16px;
    color:white;
}
.mission-name a{
    text-decoration: none;
    color: white;
}
